<!-- <div class="container"> -->
    <h5>Question</h5>
    <div class="vstack">
        <mat-form-field>
            <mat-label>Topic</mat-label>
            <mat-select>
                <mat-option value="Records and Sealed classes" selected>Records and Sealed classes</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Question</mat-label>
            <textarea matInput></textarea>
        </mat-form-field>

        <mat-checkbox>op1</mat-checkbox>
        <div class="col-md-12 pt-1 d-flex">
            <mat-form-field class="col-md-6">
                <mat-label>Option1</mat-label>
                <textarea matInput></textarea>
            </mat-form-field>
            <mat-form-field class="col-md-6 ms-auto ps-1">
                <mat-label>Hint1</mat-label>
                <textarea matInput></textarea>
            </mat-form-field>
        </div>
        
        <mat-checkbox>op2</mat-checkbox>
        <div class="col-md-12 pt-1 d-flex">
            <mat-form-field class="col-md-6">
                <mat-label>Option2</mat-label>
                <textarea matInput></textarea>
            </mat-form-field>
            <mat-form-field class="col-md-6 ms-auto ps-1">
                <mat-label>Hint2</mat-label>
                <textarea matInput></textarea>
            </mat-form-field>
        </div>
        
        <mat-checkbox>op3</mat-checkbox>
        <div class="col-md-12 pt-1 d-flex">
            <mat-form-field class="col-md-6">
                <mat-label>Option3</mat-label>
                <textarea matInput></textarea>
            </mat-form-field>
            <mat-form-field class="col-md-6 ms-auto ps-1">
                <mat-label>Hint3</mat-label>
                <textarea matInput></textarea>
            </mat-form-field>
        </div>

        <mat-checkbox>op4</mat-checkbox>
        <div class="col-md-12 pt-1 d-flex">
            <mat-form-field class="col-md-6">
                <mat-label>Option4</mat-label>
                <textarea matInput></textarea>
            </mat-form-field>
            <mat-form-field class="col-md-6 ms-auto ps-1">
                <mat-label>Hint4</mat-label>
                <textarea matInput></textarea>
            </mat-form-field>
        </div>


      
    </div>
<!-- </div> -->